<% @cart.orderables.each do |orderable|%>
  <% product = orderable.product %>
  <div id="<%= "cart-#{product.id}" %>">
    <strong>Name:</strong>
    <%= product.name%>
    <strong>Price:</strong>
    <%= product.price%>
    <%= form_with(url: cart_add_path) do |f|%>
      <%= f.hidden_field :id, value:product.id%>
      <%= f.number_field :quantity, value: orderable.quantity, min: 0%>
      <%= f.submit "Add to Cart"%>
    <% end %>

    <%= form_with(url: cart_remove_path) do |f|%>
      <%= f.hidden_field :id, value: orderable.id%>
      <%= f.submit "Remove from Cart"%>
    <% end %>
    <strong>Total:</strong>
    <%= orderable.total%>
  </div>
<% end %>