<p style="color: green"><%= notice %></p>

<strong>Images</strong>
<% if @product.images.attached? %>
  <% @product.images.each do |img|%>
    <%= image_tag img, width: "200px", height: "300px"%>
  <% end %>
<% end %>

<%= render @product %>
Name: <%= @product.name %><br>
Color: <%= @product.color %><br>
Size: <%= @product.size %><br>
Sex: <%= @product.sex %><br>
<br>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %>
  <br>
  <%= link_to "Back to products", products_path %>
  <br>
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
<br>

<% if current_user.favorited?(@product)%>
  <%= button_to "Delete from favorites", delete_from_favorite_product_path(@product), method: :delete, class: "btn btn-outline-dark"%>
<% else %>
  <%= button_to "Add to favorites", add_to_favorite_product_path(@product), class: "btn btn-outline-dark"%>
<% end %>


<% if @comments.empty? %>
  <%= "There are no comments, write one!"%>
<% else %>
  <% @comments.each do |comment|%>
    <p>Title: <%= comment.title%></p>
    <p>Body: <%= comment.body%></p>
  <% end %>
<% end %>

<br><br><br>
<strong>Add a comment!</strong>

<%= form_with(model: [@product, @comment], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Post Comment" %>
<% end %>

<strong>Related products</strong>
<hr>
<% @products_same_tags.each do |prod| %>
  Name: <%= prod.name %>
  Id: <%= prod.id%>
  <hr>
<% end %>